<a href="https://colab.research.google.com/github/Pimmiiiu/DW/blob/master/python1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Hello PyThon
##Hello PyThon
###Hello Python
This is my first python

In [0]:
print("Hello World")

Hello World

#declare Variable
How to declare variable in python

In [0]:
score = 100
name ="Pukjira"
print(" Name is "+ name + " Score is " + str(score))

 Name is Pukjira Score is 100

In [0]:
a = 2
b = 3
c = a * b
print(c)

6

#List
How to use list python

In [9]:
mylist = []
mylist.append("Pukjira")
mylist.append(500)
mylist

['Pukjira', 500]

How to count Data in list

In [5]:
len(mylist)

2

#If Else

In [14]:
if mylist[1] < 100 :
  name = mylist[0]
  score = mylist[1]
  print(name + " " + str(score))
elif mylist[1] >= 100 :
  print("Passssss")
elif mylist[1] > 500 :
  print("A")

Passssss

In [16]:
score = 5
if score < 2 :
  print("C")
elif score <= 4 :
  print("B")
elif score >= 5:
  print("A")

A

#For loop

In [24]:
summation = 0
for i in range(0,10) :
  print(str(i))
  summation = summation + 1
print("The summation result is " + str(summation))

0
1
2
3
4
5
6
7
8
9
The summation result is 10

In [26]:
summation = []
for i in range(1,10) :
  summation.append(i)
  
for i in summation :
  print(str(i))

1
2
3
4
5
6
7
8
9

In [33]:
summation = []
for i in range(0,10) :
  a = i * 2
  summation.append(a)
  print(str(a))

0
2
4
6
8
10
12
14
16
18